extends ../base

block title 
    | Users

block links

block main
    .container
        .row
            .card-list.col-xs-12.col-md-7
                .row
                    each user in users
                        .col-xs-12.col-md-6
                            .card-list__card.card
                                img.card__background(src='/img/card-bg.jpg', alt='')
                                .card__username(onclick=`loadUserInfoToSidebar('${user.username}')`)=user.username
                                .card__desc
                                    .card__desc-text=user.description
                                .container-fluid
                                    .row
                                        .card__likes.card__lower-section.col-xs-6=user.favs.length
                                        .card__visits.card__lower-section.col-xs-6 3                            
            .card.card-large.right-sidebar.col-xs-12.col-md-5 
                #right-sidebar__header.right-sidebar__header=users[0].username
                #right-sidebar__info.right-sidebar__info=users[0].bio

block scripts
    script(src="/js/main.js")
